:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --colorPrimario: #784D3C;
    --colorBlanco: #FFF;
    --colorNegro: #000000;
}

html{
    box-sizing: border-box; /* PARA QUE EL BORDE Y PADDING NO AFECTE AL ANCHO DE LOS ELEMENTOS*/
    font-size: 62.5%; /*PARA QUE 1 REM = 10PX*/
}

*, *:before, *:after {
    box-sizing: inherit; /**/
  }

  body{
    font-family: var(--fuenteParrafos);
    font-size: 2.5rem;
    line-height: 2; /* INTERLINEADO*/
  }

  /******** GLOBALES *********/

  .contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
  }

  a{
    text-decoration: none;
  }

  h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
  }

  h1{
    font-size: 4.8rem;
  }

  h2{
    font-size: 4rem;
  }

  h3{
    font-size: 3.2rem;
  }

  h4{
    font-size: 2.8rem;
  }

  img´{
    max-width: 100%;
  }

  /************* UTILIDADES******** */

  .no-margin{
    margin: 0;
  }

  .no-padding{
    padding: 0;
  }

  .centrar-texto{
    text-align: center;
  }

  /* HEADER**************** */


.header{
  background-image: url(../img/banner.jpg);
  height: 58rem;
  background-size: cover; /*AJUSTA EL TAMAÑO DE LA IMAGEN AL ESPACIO DISPONIBLE*/
  background-position: center center;
  background-repeat: no-repeat;
}

.header__texto{
  text-align: center;
  font-family: var(--fuenteHeading);
  color: var(--colorBlanco);
  margin-top: 5rem; /* SE AÑADE MARGEN ARRIBA PARA DESPUES INSERTAR LA BARRA DE LOGO Y NAVEGACION*/
}

@media (min-width: 768px) {
   .header__texto{
    margin-top: 100px;
   } 
}

.logo {
  color: var(--colorBlanco);
}

.barra{

}

@media (min-width: 768px) {
  .barra{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo__nombre{
  font-weight: 400;
}

.logo__bold{
  font-weight: 700;
}

.navegacion__enlace{
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: var(--colorBlanco);
}

@media (min-width: 768px) {
    .navegacion{
      display: flex;
      gap: 2rem;
    }
}
